/* 
* non-versa base styles 
* IONIC
*/

/* watch panel */

.watch-text {
    font-family: Colfax-Light;
    x: 50%;
    text-anchor: middle;
    text-length: 40;
    width: 100%;
    height: 100%;
  }
  
  .watch-clock-text {
    font-size: 108;
    y: 50%-26;
    fill: #FA1E43;
  }
  
  .watch-score-text {
    font-size: 100;
    y: 50%+88;
    fill: #FFFFFF;
  }
  
  .watch-status-text {
    font-size: 20;
    y: 100%-4;
    fill: #FFFFFF;
  }
  
  .watch-divider {
    x: 50%-111;
    y: 50%-6;
    width: 222;
    height: 1;
    fill: #646464;
  }
  
  /* simple panel */
  
  .simple-text {
    font-family: Colfax-Light;
    fill: #FFFFFF;
    text-length: 40;
    width: 100%;
    height: 100%;
  }
  
  .simple-score-text {
    text-anchor: middle;
    font-size: 80;
    x: 50%;
    y: 88;
  }
  
  .simple-striker-left-text {
    text-anchor: start;
    font-size: 40;
    x: 4;
    y: 132;
  }
  
  .simple-striker-right-background {
    x: 100%-80;
    y: 92;
    width: 150;
    height: 40;
    fill: #000000;
  }

  .simple-striker-right-text {
    text-anchor: end;
    font-size: 40;
    x: 100%-4;
    y: 132;
  }
  
  .simple-nonstriker-left-text {
    text-anchor: start;
    font-size: 40;
    x: 4;
    y: 176;
  }
  
  .simple-nonstriker-right-background {
    x: 100%-80;
    y: 136;
    width: 150;
    height: 40;
    fill: #000000;
  }

  .simple-nonstriker-right-text {
    text-anchor: end;
    font-size: 40;
    x: 100%-4;
    y: 176;
  }
  
  .simple-message-text {
    text-anchor: start;
    font-size: 30;
    x: 4;
    y: 100%-42;
  }
  
  .simple-overs-text {
    text-anchor: start;
    font-size: 30;
    x: 4;
    y: 100%-8;
  }
  
  .simple-time-text {
    text-anchor: end;
    font-size: 30;
    x: 100%-4;
    y: 100%-8;
  }
  
    /* detail panel */
  
    .detail-text {
      font-family: Colfax-Light;
      fill: #FFFFFF;
      text-length: 40;
      width: 100%;
      height: 100%;
    }
    
    .detail-team-text {
      text-anchor: start;
      font-size: 30;
      x: 4;
      y: 35;
    }
    
    .detail-score-background {
      x: 50%-70;
      y: 10;
      width: 140;
      height: 45;
      fill: #000000;
    }

    .detail-score-text {
      text-anchor: middle;
      font-size: 48;
      font-family: Colfax-Bold;
      x: 50%;
      y: 49;
    }

    .detail-overs-text {
      text-anchor: end;
      font-size: 30;
      x: 100%-4;
      y: 35;
    }
    
    .detail-striker-left-text {
      text-anchor: start;
      font-size: 35;
      x: 4;
      y: 85;
    }
    
    .detail-striker-right-background {
      x: 100%-145;
      y: 55;
      width: 145;
      height: 35;
      fill: #000000;
    }
    
    .detail-striker-right-text {
      text-anchor: end;
      font-size: 35;
      x: 100%-4;
      y: 83;
    }
    
    .detail-nonstriker-left-text {
      text-anchor: start;
      font-size: 35;
      x: 4;
      y: 117;
    }
    
    .detail-nonstriker-right-background {
      x: 100%-145;
      y: 88;
      width: 145;
      height: 35;
      fill: #000000;
    }
    
    .detail-nonstriker-right-text {
      text-anchor: end;
      font-size: 35;
      x: 100%-4;
      y: 117;
    }
    
    .detail-bowler-left-text {
      text-anchor: start;
      font-size: 30;
      x: 4;
      y: 146;
    }
    
    .detail-bowler-right-background {
      x: 100%-190;
      y: 122;
      width: 190;
      height: 30;
      fill: #000000;
    }
    
    .detail-bowler-right-text {
      text-anchor: end;
      font-size: 30;
      x: 100%-4;
      y: 146;
    }
    
    .detail-message-text {
      text-anchor: start;
      font-size: 30;
      x: 4;
      y: 100%-66;
    }
    
    .detail-fact-text {
      text-anchor: start;
      font-size: 30;
      x: 4;
      y: 100%-36;
    }
    
    .detail-status-text {
      text-anchor: start;
      font-size: 30;
      x: 4;
      y: 100%-4;
    }
    
    .detail-time-text {
      text-anchor: end;
      font-size: 30;
      x: 100%-4;
      y: 100%-4;
      fill: #FA1E43;
    }
  