/* 
* versa styles 
*/

/* watch panel */

.watch-text {
    font-family: Colfax-Medium;
    x: 50%;
    text-anchor: middle;
    text-length: 40;
    width: 100%;
    height: 100%;
  }
  
  .watch-score-text {
    font-size: 100;
    y: 50%-38;
    fill: #FFFFFF;
  }
  
  .watch-clock-text {
    font-size: 100;
    y: 50%+82;
    fill: #FA1E43;
  }
  
  .watch-status-text {
    font-size: 20;
    y: 100%-8;
    fill: #FFFFFF;
  }
  
  .watch-divider {
    x: 50%-111;
    y: 50%-10;
    width: 222;
    height: 1;
    fill: #646464;
  }
  
  /* simple panel */
  
  .simple-text {
    font-family: Colfax-Medium;
    fill: #FFFFFF;
    text-length: 40;
    width: 100%;
    height: 100%;
  }
  
  .simple-score-text {
    text-anchor: middle;
    font-size: 90;
    font-family: Colfax-Bold;
    x: 50%;
    y: 98;
  }
  
  .simple-striker-left-text {
    text-anchor: start;
    font-size: 40;
    x: 4;
    y: 142;
  }
  
  .simple-striker-right-text {
    text-anchor: end;
    font-size: 40;
    x: 100%-4;
    y: 142;
  }
  
  .simple-striker-right-background {
    x: 100%-80;
    y: 104;
    width: 150;
    height: 40;
    fill: #000000;
  }

  .simple-nonstriker-left-text {
    text-anchor: start;
    font-size: 40;
    x: 4;
    y: 186;
  }
  
  .simple-nonstriker-right-background {
    x: 100%-80;
    y: 148;
    width: 150;
    height: 40;
    fill: #000000;
  }
  
  .simple-nonstriker-right-text {
    text-anchor: end;
    font-size: 40;
    x: 100%-4;
    y: 186;
  }
  
  .simple-message-text {
    text-anchor: start;
    font-size: 40;
    x: 4;
    y: 100%-52;
  }
  
  .simple-overs-text {
    text-anchor: start;
    font-size: 40;
    x: 4;
    y: 100%-8;
  }
  
  .simple-time-text {
    text-anchor: end;
    font-size: 40;
    x: 100%-4;
    y: 100%-8;
    fill: #FA1E43;
  }
  
    /* detail panel */
  
    .detail-text {
      font-family: Colfax-Medium;
      fill: #FFFFFF;
      text-length: 40;
      width: 100%;
      height: 100%;
    }
    
    .detail-team-text {
      text-anchor: start;
      font-size: 30;
      font-family: Colfax-Bold;
      x: 4;
      y: 35;
    }
    
    .detail-score-background {
      x: 50%-70;
      y: 10;
      width: 140;
      height: 45;
      fill: #000000;
    }

    .detail-score-text {
      text-anchor: middle;
      font-size: 48;
      font-family: Colfax-Bold;
      x: 50%;
      y: 49;
    }

    .detail-overs-text {
      text-anchor: end;
      font-size: 30;
      x: 100%-4;
      y: 35;
    }
    
    .detail-striker-left-text {
      text-anchor: start;
      font-size: 35;
      x: 4;
      y: 93;
    }
    
    .detail-striker-right-background {
      x: 100%-145;
      y: 63;
      width: 145;
      height: 35;
      fill: #000000;
    }
    
    .detail-striker-right-text {
      text-anchor: end;
      font-size: 35;
      x: 100%-4;
      y: 93;
    }
    
    .detail-nonstriker-left-text {
      text-anchor: start;
      font-size: 35;
      x: 4;
      y: 130;
    }
    
    .detail-nonstriker-right-background {
      x: 100%-145;
      y: 101;
      width: 145;
      height: 35;
      fill: #000000;
    }
    
    .detail-nonstriker-right-text {
      text-anchor: end;
      font-size: 35;
      x: 100%-4;
      y: 130;
    }
    
    .detail-bowler-left-text {
      text-anchor: start;
      font-size: 30;
      x: 4;
      y: 164;
    }
    
    .detail-bowler-right-background {
      x: 100%-190;
      y: 140;
      width: 190;
      height: 30;
      fill: #000000;
    }
    
    .detail-bowler-right-text {
      text-anchor: end;
      font-size: 30;
      x: 100%-4;
      y: 164;
    }
    
    .detail-message-text {
      text-anchor: start;
      font-size: 30;
      x: 4;
      y: 100%-72;
    }
    
    .detail-fact-text {
      text-anchor: start;
      font-size: 30;
      x: 4;
      y: 100%-40;
    }
    
    .detail-status-text {
      text-anchor: start;
      font-size: 30;
      x: 4;
      y: 100%-8;
    }
    
    .detail-time-text {
      text-anchor: end;
      font-size: 30;
      x: 100%-4;
      y: 100%-8;
      fill: #FA1E43;
    }
    
    