/* main screen */

#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  fill: #FA1E43;
}

/* menu panel */

.menu-list-item {
  height: 88;
}

#menu-tile-item text {
  x: 4;
  font-family: System-Regular;
  fill: #FFFFFF;
}

.menu-divider-bottom {
  x: 0;
  y: 100%-2;
  width: 100%;
  height: 2;
  fill: #A0A0A0;
}

.tile-divider-bottom { 
  x: 0; 
  y: 100%-2; 
  width: 100%; 
  height: 2; 
  fill: #303030;
}

/* select game */

.select-game-text {
  font-family: System-Regular;
  font-size: 30;
  text-anchor: middle;
  text-length: 80;
  display-align: center;
  rows: 7;
  fill: #FFFFFF;
}

/* all checkboxes */

.checkbox-tile-image image { fill: #FFFFFF }
.checkbox-unselected-color image { fill: #FFFFFF }


/* about */

.about-text {
  font-family: System-Regular;
  font-size: 30;
  text-anchor: middle;
  text-length: 100;
  display-align: center;
  rows: 7;
  fill: #FFFFFF;
}

/* licenses */

.license-text {
  width: 100%;
  font-size: 25;
  fill: #FFFFFF;
}






