 <div class="match-section-head"><h2>Women's Twenty20 Internationals</h2></div>

 <section class="matches-day-block">





  <section class="default-match-block " data-matchstatus="dormant">
   <span class="live-icon">LIVE</span>
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/21580/game/1388205/new-zealand-women-vs-england-women-4th-t20i-england-women-in-new-zealand-2023-24">
     4th T20I at Basin Reserve, Wellington
     </a>
    </span>
   </div>
   <div class="innings-info-1">
New Zealand Women    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
England Women    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin in 1 hour 45 mins</span>
 (13:00&nbsp;local | 00:00&nbsp;GMT)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/21580/game/1388205/new-zealand-women-vs-england-women-4th-t20i-england-women-in-new-zealand-2023-24">Live scorecard</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/series/_/id/21580/england-women-in-new-zealand-2023-24">Tour Home</a>
	</div>


  </section>






  <section class="default-match-block " data-matchstatus="dormant">
   <span class="live-icon">LIVE</span>
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/1398245/game/1398261/south-africa-women-vs-sri-lanka-women-1st-t20i-">
     1st T20I at Willowmoore Park, Benoni (night)
     </a>
    </span>
   </div>
   <div class="innings-info-1">
South Africa Women    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
Sri Lanka Women    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 18:00 local time</span>
 (16:00&nbsp;GMT | 05:00&nbsp;NZDT&nbsp;1d)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/1398245/game/1398261/south-africa-women-vs-sri-lanka-women-1st-t20i-">Live scorecard</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/ci/content/series/1398245.html">Tour Home</a>
	</div>


  </section>

 </section>
 <div class="match-section-head"><h2>Women's One-Day Internationals</h2></div>

 <section class="matches-day-block">





  <section class="default-match-block " data-matchstatus="complete">
   <div class="match-info">
    
    <span class="bold">Mar 26, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/1426041/scorecard/1426046/zimbabwe-women-vs-papua-new-guinea-women-2nd-odi-">
     2nd ODI at Harare Sports Club
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Papua New Guinea Women    <span class="bold">125 (35.4/50 ov)</span>
   </div>
   <div class="innings-info-2">
Zimbabwe Women    <span class="bold">126/8 (42.3/50 ov)</span>
   </div>
   <div class="match-status">
    <span class="bold">Zimbabwe Women won by 2 wickets (with 45 balls remaining)</span>
   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/1426041/scorecard/1426046/zimbabwe-women-vs-papua-new-guinea-women-2nd-odi-">Scorecard</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/ci/content/series/1426041.html">Tour Home</a>
	</div>


  </section>






  <section class="default-match-block " data-matchstatus="dormant">
   <span class="live-icon">LIVE</span>
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/1425056/game/1425063/bangladesh-women-vs-australia-women-3rd-odi-">
     3rd ODI at Shere Bangla National Stadium, Mirpur
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Bangladesh Women    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
Australia Women    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 09:30 local time</span>
 (03:30&nbsp;GMT | 16:30&nbsp;NZDT)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/1425056/game/1425063/bangladesh-women-vs-australia-women-3rd-odi-">Live scorecard</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/ci/content/series/1425056.html">Tour Home</a>
	</div>


  </section>

 </section>
 <div class="match-section-head"><h2>Plunket Shield</h2></div>

 <section class="matches-day-block">





  <section class="default-match-block " data-matchstatus="complete">
   <div class="match-info">
    
    <span class="bold">Mar 24-26, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/8828/scorecard/1391924/auckland-vs-canterbury-22nd-match-plunket-shield-2023-24">
     22nd Match at Eden Park Outer Oval, Auckland
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Auckland    <span class="bold">216 &amp; 257</span>
   </div>
   <div class="innings-info-2">
Canterbury    <span class="bold">242 &amp; 232/4 (target: 232)</span>
   </div>
   <div class="match-status">
    <span class="bold">Canterbury won by 6 wickets</span>
   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/8828/scorecard/1391924/auckland-vs-canterbury-22nd-match-plunket-shield-2023-24">Scorecard</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/series/_/id/8828/season/2023/plunket-shield">Tournament Home</a>
	</div>


  </section>






  <section class="default-match-block " data-matchstatus="current">
   <div class="match-info">
    
    <span class="bold">Mar 24-27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/8828/game/1391925/northern-districts-vs-wellington-23rd-match-plunket-shield-2023-24">
     23rd Match at Seddon Park, Hamilton
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Wellington    <span class="bold">323 &amp; 127/4 (36 ov)</span>
   </div>
   <div class="innings-info-2">
Northern Districts    <span class="bold">362</span>
   </div>
   <div class="match-status">
    <span class="bold">Stumps - Wellington lead by 88 runs with 6 wickets remaining</span>
   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/8828/game/1391925/northern-districts-vs-wellington-23rd-match-plunket-shield-2023-24">Scorecard</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/series/_/id/8828/season/2023/plunket-shield">Tournament Home</a>
	</div>


  </section>






  <section class="default-match-block " data-matchstatus="current">
   <div class="match-info">
    
    <span class="bold">Mar 24-27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/8828/game/1391926/central-districts-vs-otago-24th-match-plunket-shield-2023-24">
     24th Match at McLean Park, Napier
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Otago    <span class="bold">309 &amp; 78/3 (31 ov)</span>
   </div>
   <div class="innings-info-2">
Central Districts    <span class="bold">580</span>
   </div>
   <div class="match-status">
    <span class="bold">Stumps - Otago trail by 193 runs with 7 wickets remaining</span>
   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/8828/game/1391926/central-districts-vs-otago-24th-match-plunket-shield-2023-24">Scorecard</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/series/_/id/8828/season/2023/plunket-shield">Tournament Home</a>
	</div>


  </section>

 </section>
 <div class="match-section-head"><h2>Dhaka Premier Division Cricket League</h2></div>

 <section class="matches-day-block">





  <section class="default-match-block " data-matchstatus="dormant">
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/8738/game/1425333/abahani-limited-vs-rupganj-tigers-cricket-club-31st-match-dhaka-premier-division-cricket-league-2024">
     31st Match at Khan Shaheb Osman Ali Stadium, Fatullah
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Abahani Limited    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
Tigers    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 09:30 local time</span>
 (03:30&nbsp;GMT | 16:30&nbsp;NZDT)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/_/id/8738/season/2024/dhaka-premier-division-cricket-league">Tournament Home</a>
	</div>


  </section>






  <section class="default-match-block " data-matchstatus="dormant">
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/8738/game/1425334/gazi-group-cricketers-vs-sheikh-jamal-dhanmondi-club-32nd-match-dhaka-premier-division-cricket-league-2024">
     32nd Match at Bangladesh Krira Shikkha Protisthan No 3 Ground, Savar
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Gazi Group Cricketers    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
Sheikh Jamal    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 09:30 local time</span>
 (03:30&nbsp;GMT | 16:30&nbsp;NZDT)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/_/id/8738/season/2024/dhaka-premier-division-cricket-league">Tournament Home</a>
	</div>


  </section>






  <section class="default-match-block " data-matchstatus="dormant">
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/8738/game/1425335/prime-bank-cricket-club-vs-mohammedan-sporting-club-33rd-match-dhaka-premier-division-cricket-league-2024">
     33rd Match at Bangladesh Krira Shikkha Protisthan No 4 Ground, Savar
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Prime Bank Cricket Club    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
Mohammedan Sporting Club    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 09:30 local time</span>
 (03:30&nbsp;GMT | 16:30&nbsp;NZDT)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/_/id/8738/season/2024/dhaka-premier-division-cricket-league">Tournament Home</a>
	</div>


  </section>

 </section>
 <div class="match-section-head"><h2>CSA Provincial T20 Cup</h2></div>

 <section class="matches-day-block">





  <section class="default-match-block " data-matchstatus="dormant">
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/19554/game/1394565/border-vs-mpumalanga-19th-match-csa-provincial-t20-cup-2023-24">
     19th Match at Buffalo Park, East London
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Border    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
Mpumalanga    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 13:00 local time</span>
 (11:00&nbsp;GMT | 00:00&nbsp;NZDT&nbsp;1d)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/_/id/19554/season/2024/csa-provincial-t20-cup">Tournament Home</a>
	</div>


  </section>






  <section class="default-match-block " data-matchstatus="dormant">
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/19554/game/1394567/limpopo-vs-south-western-districts-21st-match-csa-provincial-t20-cup-2023-24">
     21st Match at Cricket Club Ground, Polokwane
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Limpopo    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
South Western Districts    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 13:00 local time</span>
 (11:00&nbsp;GMT | 00:00&nbsp;NZDT&nbsp;1d)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/_/id/19554/season/2024/csa-provincial-t20-cup">Tournament Home</a>
	</div>


  </section>






  <section class="default-match-block " data-matchstatus="dormant">
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/19554/game/1394566/northern-cape-vs-knights-20th-match-csa-provincial-t20-cup-2023-24">
     20th Match at Diamond Oval, Kimberley
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Northern Cape    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
Knights    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 13:00 local time</span>
 (11:00&nbsp;GMT | 00:00&nbsp;NZDT&nbsp;1d)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/_/id/19554/season/2024/csa-provincial-t20-cup">Tournament Home</a>
	</div>


  </section>

 </section>
 <div class="match-section-head"><h2>CSA T20 Challenge</h2></div>

 <section class="matches-day-block">





  <section class="default-match-block " data-matchstatus="dormant">
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/8656/game/1394595/kwazulu-natal-inland-vs-western-province-25th-match-csa-t20-challenge-2023-24">
     25th Match at City Oval, Pietermaritzburg
     </a>
    </span>
   </div>
   <div class="innings-info-1">
KwaZulu-Natal Inland    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
Western Province    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 13:00 local time</span>
 (11:00&nbsp;GMT | 00:00&nbsp;NZDT&nbsp;1d)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/_/id/8656/season/2024/csa-t20-challenge">Tournament Home</a>
	</div>


  </section>






  <section class="default-match-block " data-matchstatus="dormant">
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/8656/game/1394596/lions-vs-warriors-26th-match-csa-t20-challenge-2023-24">
     26th Match at The Wanderers Stadium, Johannesburg (night)
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Lions    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
Warriors    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 18:00 local time</span>
 (16:00&nbsp;GMT | 05:00&nbsp;NZDT&nbsp;1d)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/_/id/8656/season/2024/csa-t20-challenge">Tournament Home</a>
	</div>


  </section>

 </section>
 <div class="match-section-head"><h2>Indian Premier League</h2></div>

 <section class="matches-day-block">





  <section class="default-match-block " data-matchstatus="complete">
   <div class="match-info">
    
    <span class="bold">Mar 26, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/8048/scorecard/1422125/chennai-super-kings-vs-gujarat-titans-7th-match-indian-premier-league-2024">
     7th Match at MA Chidambaram Stadium, Chepauk, Chennai (night)
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Chennai Super Kings    <span class="bold">206/6 (20 ov)</span>
   </div>
   <div class="innings-info-2">
Gujarat Titans    <span class="bold">143/8 (20 ov)</span>
   </div>
   <div class="match-status">
    <span class="bold">Chennai Super Kings won by 63 runs</span>
   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/8048/scorecard/1422125/chennai-super-kings-vs-gujarat-titans-7th-match-indian-premier-league-2024">Scorecard</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/series/8048/report/1422125/chennai-super-kings-vs-gujarat-titans-7th-match-indian-premier-league-2024">Report</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/series/_/id/8048/season/2024/indian-premier-league">Tournament Home</a>
	</div>


  </section>






  <section class="default-match-block " data-matchstatus="dormant">
   <span class="live-icon">LIVE</span>
   <div class="match-info">
    
    <span class="bold">Mar 27, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/8048/game/1422126/sunrisers-hyderabad-vs-mumbai-indians-8th-match-indian-premier-league-2024">
     8th Match at Rajiv Gandhi International Stadium, Uppal, Hyderabad (night)
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Sunrisers Hyderabad    <span class="bold"></span>
   </div>
   <div class="innings-info-2">
Mumbai Indians    <span class="bold"></span>
   </div>
   <div class="match-status">
    <span class="bold">Match scheduled to begin at 19:30 local time</span>
 (14:00&nbsp;GMT | 03:00&nbsp;NZDT&nbsp;1d)   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/8048/game/1422126/sunrisers-hyderabad-vs-mumbai-indians-8th-match-indian-premier-league-2024">Live scorecard</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/series/_/id/8048/season/2024/indian-premier-league">Tournament Home</a>
	</div>


  </section>

 </section>
 <div class="match-section-head"><h2>Ireland A in Nepal unofficial T20I Series</h2></div>

 <section class="matches-day-block">





  <section class="default-match-block " data-matchstatus="complete">
   <div class="match-info">
    
    <span class="bold">Mar 26, 2024</span>
    <span class="sep">-</span>
    <span class="match-no">
     <a href="https://www.espncricinfo.com/series/1426052/scorecard/1426057/nepal-vs-ireland-a-2nd-unofficial-t20i-">
     2nd unofficial T20I at Tribhuvan University International Cricket Ground, Kirtipur
     </a>
    </span>
   </div>
   <div class="innings-info-1">
Nepal    <span class="bold">198/7 (20 ov)</span>
   </div>
   <div class="innings-info-2">
Ireland A    <span class="bold">127 (18.3/20 ov)</span>
   </div>
   <div class="match-status">
    <span class="bold">Nepal won by 71 runs</span>
   </div>
	<div class="match-articles">
	<a href="https://www.espncricinfo.com/series/1426052/scorecard/1426057/nepal-vs-ireland-a-2nd-unofficial-t20i-">Scorecard</a> <span class="sep">|</span> <a href="https://www.espncricinfo.com/ci/content/series/1426052.html">Tour Home</a>
	</div>


  </section>

 </section>
